:root {
    /* Cores */
    --primary-color: #007bff;
    --secondary-color: #4D6183;
    --text-color: #000;
    --background-color: #fff;
    --footer-background: #164B30;
    --hover-color: #006400;

    /* Espaçamentos e dimensões */
    --main-padding: 20px;
    --header-padding: 20px 0;
    --footer-padding: 50px 0;
    --main-margin: 20px auto;
    --footer-margin-top: 20px;

    /* Transições */
    --transition-duration: 0.3s;
}

/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    background-color: var(--background-color);
    padding: var(--header-padding);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transition: top var(--transition-duration);
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

nav .logo a {
    display: block;
    overflow: hidden;
    transform-origin: center;
}

nav .logo img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

nav .logo a:hover img {
    transform: scale(0.9);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end; /* Alinhar os itens à direita */
    margin-top: 10px;
}

nav ul li {
    margin-left: 15px;
    display: flex;
    align-items: center;
}

nav ul li a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color var(--transition-duration) ease, color var(--transition-duration) ease, box-shadow 0.3s ease;
}
nav .fa-user-circle {
    font-size: 25px;
}

nav ul li a:hover {
    background: linear-gradient(45deg, #4B7D60, #6FAE89); /* Gradiente suave de #4B7D60 para um tom mais claro */
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra ao passar o mouse */
    transform: translateY(-2px); /* Efeito de elevação sutil */
}

main {
    width: 80%;
    margin: var(--main-margin);
    background-color: var(--background-color);
    padding: var(--main-padding);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 8%;
    border-radius: 10px;
}

.privacy-policy .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px var(--main-padding);
}

.privacy-policy h1 {
    text-align: center;
    color: var(--secondary-color);
    margin-bottom: 20px;
}

.privacy-policy h2 {
    color: var(--text-color);
    margin-top: 20px;
    margin-bottom: 10px;
}

.privacy-policy p, .privacy-policy ul {
    margin-bottom: 20px;
}

.privacy-policy ul {
    padding-left: 20px;
}

.privacy-policy ul li {
    margin-bottom: 10px;
}

.privacy-policy strong {
    color: #333333;
}

footer {
    background-color: var(--footer-background);
    color: #ddd;
    text-align: center;
    padding: var(--footer-padding);
    margin-top: var(--footer-margin-top);
    border-radius: 10px;
}

footer .footer-content {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

footer .footer-links, footer .contact-info, .social-media {
    width: 100%;
    margin-bottom: 20px;
}

footer .footer-links {
    display: flex;
    justify-content: center;
}

footer .footer-links a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 8px;
    background: var(--footer-background);
    transition: color var(--transition-duration) ease, background-color var(--transition-duration) ease, box-shadow var(--transition-duration) ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

footer .footer-links a:hover {
    color: #32CD32;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

footer .contact-info {
    text-align: center;
    margin-bottom: 20px;
}

footer .contact-info h2 {
    color: #000;
    margin-bottom: 10px;
}

footer .contact-info p {
    color: #ddd;
    font-size: 14px;
    margin-bottom: 5px;
}

footer .newsletter form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

footer .newsletter input[type="email"] {
    padding: 12px;
    margin: 0 10px 0 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color var(--transition-duration) ease, box-shadow var(--transition-duration) ease;
}

footer .newsletter input[type="email"]:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

footer .newsletter input[type="email"]:invalid {
    border: 1px solid #dc3545;
}

footer .newsletter button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color var(--transition-duration) ease, color var(--transition-duration) ease, transform var(--transition-duration) ease;
}

footer .newsletter button:hover {
    background-color: #f1f1f1;
    color: var(--primary-color);
    transform: scale(1.05);
}

.footer-content .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.social-media h2 {
    color: #000;
    margin-bottom: 2px;
}

.social-media a {
    margin: 10px;
    font-size: 28px;
    color: #fff;
    transition: transform 0.3s ease;
}

.social-media a:hover {
    color: #006400; /* Mudança de cor ao passar o mouse */
    transform: translateY(-5px);
}


.fa.fa-twitter i {
    display: none; /* Oculta o ícone Font Awesome do Twitter */
}

.fa.fa-twitter::before {
    content: "𝕏"; /* Substitua 'X' pelo conteúdo desejado */
    font-size: 28px; /* Tamanho do novo ícone */
    color: #fff; /* Cor do novo ícone */
    font-weight: bold; /* Peso da fonte para o 'X' */
    display: inline-block;
    transition: transform 0.3s ease;
}

.fa.fa-twitter:hover::before{
    color: #006400; /* Mudança de cor ao passar o mouse */
    transform: translateY(-5px);
}


.copyright {
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 13px;
    text-align: center;
    padding: 15px 20px;
    transition: background-color var(--transition-duration) ease, color var(--transition-duration) ease;
    border-top: 2px solid #ddd;
}

.copyright:hover {
    background-color: #f1f1f1;
    color: var(--primary-color);
}

.copyright::before {
    content: "©";
    color: var(--primary-color);
    font-weight: bold;
    margin-right: 5px;
    transition: color var(--transition-duration) ease;
}

.copyright:hover::before {
    color: #0056b3;
}

.hidden {
    top: -100px;
}

/* Media Queries para Responsividade */
@media (max-width: 1920px) {
    /* Ajustes para telas maiores que 1920px de largura */

    /* Aumentar a largura do conteúdo principal */
    main {
        width: 80%; /* Ajuste para 80% da largura total */
        max-width: 1600px; /* Largura máxima para evitar que o conteúdo se estenda muito */
        margin-top: 10%; /* Margem superior ajustada para alinhar melhor com o cabeçalho */
    }

    /* Espaçamento maior entre os itens do menu */
    nav ul li {
        margin-left: 20px;
    }

    /* Espaçamento maior entre os links do rodapé */
    footer .footer-links a {
        margin: 0 15px;
    }
}


@media (max-width: 1440px) {
    /* Estilos para telas menores que 1440px de largura */
    nav ul li {
        margin-left: 10px; /* Reduzir espaçamento entre os itens do menu */
    }

    footer .footer-links a {
        margin: 0 8px; /* Reduzir espaçamento entre os links do rodapé */
    }
}

@media (max-width: 1024px) {
    /* Estilos para telas menores que 1024px de largura */
    nav ul {
        justify-content: center; /* Centralizar itens do menu */
    }

    nav ul li {
        margin: 0 10px; /* Espaçamento menor entre os itens do menu */
    }

    footer .footer-links a {
        margin: 0 5px; /* Espaçamento menor entre os links do rodapé */
    }

    .social-media a {
        margin: 0 8px; /* Espaçamento menor entre os ícones de redes sociais */
    }
}

@media (max-width: 768px) {
    /* Estilos para telas menores que 768px de largura */
    nav ul {
        flex-direction: column; /* Coluna para os itens do menu */
        align-items: center; /* Alinhar ao centro */
    }

    nav ul li {
        margin: 10px 0;
    }

    footer .footer-content {
        padding: 10px;
    }

    .social-media {
        padding: 10px;
    }

    footer .footer-links a {
        margin: 5px 0;
    }

    .social-media a {
        margin: 5px 0;
    }
}

@media (max-width: 576px) {
    /* Estilos para telas menores que 576px de largura */
    nav ul li {
        margin: 10px 0; /* Espaçamento menor entre os itens do menu */
    }

    footer .footer-links a {
        margin: 0 5px; /* Espaçamento menor entre os links do rodapé */
    }

    .social-media a {
        margin: 5px 0; /* Espaçamento menor entre os ícones de redes sociais */
    }
}