/* a logo e o cadastro não ficam fixados, principalmente com zoom */

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    display: flex;
    height: 100vh;
    font-size: large;
    font-family: "Mulish", sans-serif;
}

.container {
    display: flex;
    width: 100%;
}

#registration-form {
    background-color: #ebf1eb;
    margin-left: 5px;
    padding: 25px;
    position: relative;
    width: 600px;
}

.cadastro {
    background-color: #e6eaeb9c;
    padding: 20px;
    color: rgba(0, 0, 0, 0.918);
    font-weight: bold;
}

#inform {
    color: black;
    font-weight: lighter;
    white-space: nowrap;
    margin-top: 15px;
    margin-bottom: 10px;
    /*muda a posição de cadastrar*/
}

h1 {
    margin-bottom: 20px;
    text-align: justify;
}

#cadastrar-dados {
    line-height: 15px;
}

.image-section,
.cadastro {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-section {
    background-color: aliceblue;
    background: url('./img/cadastro5.png') no-repeat left center;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}

.logo {
    position: fixed;
    width: 340px;
    height: auto;
    left: 345px;
    top: 250px;
   

}

form {
    max-width: 500px;
    width: 100%;
    margin: 20px auto;
}

label {
    display: block;
    margin-bottom: 5px;
    line-height: 28px;
    /* espaçamento entre linhas */
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
}

button {
    width: 50%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

input::placeholder {
    color: #837e7e;
    background-color: #fffcfc44;
    padding: 8px;
    border-color: black;
}

button:hover {
    background-color: #45a049;
}