</html> /* CSS existente */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    font-size: large;
    font-family: "Mulish", sans-serif;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

/* Seção da Imagem */
.image-section {
    background: url('./img/cadastro5.png') no-repeat center;
    background-size: cover;
    width: 50%; /* Ocupa 50% da largura da tela */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Container da Logo */
.logo-container {
    position: absolute;
    top: 150px;
    left: 280px;
}

.logo {
    width: fit-content;
    height: 110px;
    max-width: 340px;
}


/* Seção de Cadastro */
.cadastro {
    background-color: #ffffff;
    padding: 20px;
    color: rgba(0, 0, 0, 0.918);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%; /* Ocupa 50% da largura da tela */
    max-width: 500px;
}

/* Formulário de Registro */
.registration-form {
    background-color: #ffffff;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

/* Estilo dos Elementos */
#cadastrar-dados {
    line-height: 1.5;
}

#inform {
    color: black;
    font-weight: lighter;
    white-space: nowrap;
    margin: 10px 0;
}

h1 {
    margin-bottom: 15px;
    text-align:justify;
    margin-left: 1px;
}

label {
    display: block;
    margin-bottom: 10px;
    line-height: 1.2;
}

input, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}

input {
    border: 1px solid #817e7e;
}

input::placeholder {
    color: #837e7e;
    background-color: #fffcfc44;
    border-color: rgb(46, 45, 45);
}

.button-container {
    display: flex;
    justify-content: center;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

button:hover {
    background-color: #45a049;
}

/* Media Queries */
@media (max-width: 1200px) {
    .container {
        flex-direction: column;
        height: auto;
    }

    .image-section, .cadastro {
        width: 100%;
    }

    .image-section {
        height: 50vh;
    }

    .registration-form {
        margin: 20px auto;
    }
}

@media (max-width: 768px) {
    .image-section {
        height: 40vh;
    }

    .logo {
        max-width: 60%;
    }

    .cadastro {
        padding: 20px;
    }

    .registration-form {
        width: 100%;
        margin: 20px auto;
    }

    input, button {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .image-section {
        height: 30vh;
    }

    .logo {
        max-width: 50%;
    }

    .cadastro {
        padding: 10px;
    }

    .registration-form {
        margin: 10px auto;
    }

    input, button {
        padding: 8px;
    }
}