/* CSS existente */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    font-size: large;
    font-family: "Mulish", sans-serif;
}

.container {
    display: flex;
    width: 100%;
}

.image-section {
    background-color: aliceblue;
    background: url('./img/cadastro5.png') no-repeat center center;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    width: 50%;
    max-width: 50%;
    flex: 1;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo {
    width: 100%;
    height: auto;
    max-width: 340px;
}

.cadastro {
    background-color: #e6eaeb9c;
    padding: 20px;
    color: rgba(0, 0, 0, 0.918);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

#registration-form {
    background-color: #ebf1eb;
    margin-left: 5px;
    padding: 25px;
    position: relative;
    width: 100%;
    max-width: 100%;
}

#cadastrar-dados {
    line-height: 1.5;
}

#inform {
    color: black;
    font-weight: lighter;
    white-space: nowrap;
    margin-top: 15px;
    margin-bottom: 10px;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    line-height: 28px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
}

button {
    width: 50%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

input::placeholder {
    color: #837e7e;
    background-color: #fffcfc44;
    padding: 8px;
    border-color: black;
}

button:hover {
    background-color: #45a049;
}

/* Media Queries */
@media (max-width: 1200px) {
    .image-section {
        width: 40%;
        max-width: 40%;
    }
    .cadastro {
        width: 60%;
        max-width: 60%;
    }
}

@media (max-width: 768px) {
    .image-section {
        width: 30%;
        max-width: 30%;
    }
    .cadastro {
        width: 70%;
        max-width: 70%;
    }
    .logo {
        max-width: 60%;
    }
    #registration-form {
        padding: 15px;
    }
    input {
        padding: 8px;
    }
    button {
        padding: 8px;
    }
}

@media (max-width: 480px) {
    .image-section {
        width: 20%;
        max-width: 20%;
    }
    .cadastro {
        width: 80%;
        max-width: 80%;
    }
    .logo {
        max-width: 50%;
    }
    #registration-form {
        padding: 10px;
    }
    input {
        padding: 6px;
    }
    button {
        padding: 6px;
    }
}